<html>
    <head>
        <title>About Page</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<a href = "/Home"><button class = "btn green">HOME</button></a><br /><br />	
		Created By: <br>
		Ong, Ben<br>
		Coronado, Calvin <br>
		Reyes, Cyril <br>
        npm packages used: 
		"dependencies": {
			"bcrypt": "^5.0.1",
			"connect-flash": "^0.1.1",
			"connect-mongo": "^4.6.0",
			"connect-mongodb-session": "^3.1.1",
			"dotenv": "^16.0.1",
			"express": "^4.18.1",
			"express-connect": "^0.0.1",
			"express-fileupload": "^1.4.0",
			"express-session": "^1.17.3",
			"hbs": "^4.2.0",
			"mongodb": "^4.6.0",
			"mongoose": "^6.3.5"
		}
			

    </body>
</html>