<html>
    <head>
        <title>{{type}} Page</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<a href = "/Home"><button class = "btn green">HOME</button></a><br /><br />	
        npm packages used: express, mongoose, mongodb, body-parser, express-fileupload, express-session, connect-flash, connect-mongo, hbs, dotenv
			

    </body>
</html>