<html>
    <head>
        <title>Edit Post</title>
		<link href="../css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>	
		<form action="/back-to-post" method = "post" enctype="multipart/form-data">
			<input type="hidden" id=="type" name="type" value="{{#each posts}}{{this._id}}{{/each}}">
			<input type="submit" class="btn green" value="Back">
		</form>
		<form action="/update-post" method = "post" enctype="multipart/form-data">
			<input type="hidden" id=="id" name="id" value="{{#each posts}}{{this._id}}{{/each}}">
			Title: <br> <input name="title" type="text" /><br />
			Content: <br><textarea name="content" rows="10" cols="30"></textarea><br />
			<input type="submit">
		</form><br>	
		<p id="error">{{error}}</p>
		<script src = "#"></script>
    </body>
</html>